body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }


    /* NEW CSS */

.col-md {
    padding: 10px;
}

.project-name, .maandag-input, .dinsdag-input, .woensdag-input, .donderdag-input, .vrijdag-input, .zaterdag-input, .zondag-input, .default-input {
    background-color: rgb(236, 236, 236);
}


.tablenav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

select, input, button {
    border-radius: 3px;
    border: solid 1px;
    border-color: gray;
    width: 100px;
    height: 35px;
}

. button-save {
    background-color: #47A149;
    color: white;
}

.goedkeuring {
    color: #47A149;
}

.navbar {
    height: 60px;
    margin-top: -50px;
}

.p-footer { 
    color: lightgray;
}

.form-group input, button{
    width: 75px;
}

.hour-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
}

.hour-content {
    background-color: rgb(236, 236, 236);
}

.col-md {
    padding-left: 0px;
    padding-right: 0px;
}

select,
input,
button {
    border-radius: 3px;
    border: solid 1px;
    border-color: gray;
    width: 100px;
    height: 35px;
}

    input[type=submit] {
        background-color: #47A149;
        color: white;
    }