
@{
    ViewBag.Title = "Accountbeheer";
}

<h2>Accountbeheer</h2>

<div class="container-fluid mt-3">
    <main class="mb-4">
        <div class="row no-gutters">
            <div class="col-1 mr-1">
                <div id="mySidenav" class="sidenav">
                    <a href="#">Urenregistratie</a>
                    <a href="#">Urenoverzicht</a>
                    <a href="#">Urenvalidatie</a>
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center">
                    <form action="#" method="post">
                        <div class="d-flex align-items-start">
                            <p>Voornaam</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Achternaam</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Adres</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Postcode</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Woonplaats</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>E-mail</p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Type gebruiker</p>
                            <div class="ml-auto">
                                <select>
                                    <option value="kies">Kies type</option>
                                    <option value="Gebruiker">Gebruiker</option>
                                    <option value="Beheerder">Beheerder</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Contracturen</p>
                            <div class="ml-auto">
                                <input type="number" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Uurloon</p>
                            <div class="ml-auto">
                                <input type="number" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>In dienst sinds</p>
                            <div class="ml-auto">
                                <input type="date" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Vakantie-uren</p>
                            <div class="ml-auto">
                                <input type="number" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Gebruiker actief</p>
                            <div class="ml-auto">
                                <select>
                                    <option value="Actief">Actief</option>
                                    <option value="Inactief">Inactief</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Wachtwoord</p>
                            <div class="ml-auto">
                                <input type="password" name="wachtwoord" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Bevestig wachtwoord</p>
                            <div class="ml-auto">
                                <input type="password" name="bevestig-wachtwoord" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <div class="ml-auto">
                                <button>Opslaan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

