
@{
    ViewBag.Title = "Installatieinstructie";
}

<hr />
<h2>Installatie instructie</h2>
<hr />

<div class="jumbotron">
    <article>
        <h1>Installeer het project vanaf de github repository</h1>
        <ul>
            <li>Stap 1: Navigeer naar de github repository</li>
            <li>Stap 2: Clone de repository</li>
            <p><i>Indien niet bereikbaar kopieer deze link om de repo te clonen: https://github.com/LoicButhodGirard/TrentonUrenApp.git</i></p>
            <li>Stap 3: Open "TrentonTestApp.sln".</li>
            <li>Stap 4: Rebuild het project</li>
            <li>Stap 5: Debug (CTRL + F5)</li>
        </ul>
    </article>
</div>