
@{
    ViewBag.Title = "Projectbeheer";
}

<h2>Projectbeheer</h2>

<div class="container-fluid mt-3">
    <main class="mb-4">
        <div class="row no-gutters">
            <div class="col-1 mr-1">
                <div id="mySidenav" class="sidenav">
                    <a href="#">Urenregistratie</a>
                    <a href="#">Urenoverzicht</a>
                    <a href="#">Urenvalidatie</a>
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-center">
                    <form action="#" method="post">
                        <div class="d-flex align-items-start">
                            <p>Projectnaam: </p>
                            <div class="ml-auto">
                                <input type="text" name="" />
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p>Klant: </p>
                            <div class="ml-auto">
                                <select>
                                    <option value="1">Klant 1</option>
                                    <option value="2">Klant 2</option>
                                    <option value="3">Klant 3</option>
                                    <option value="4">Klant 4</option>
                                    <option value="5">Klant 5</option>
                                    <option value="1">Klant 6</option>
                                    <option value="2">Klant 7</option>
                                    <option value="3">Klant 8</option>
                                    <option value="4">Klant 9</option>
                                    <option value="5">Klant 10</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <div class="ml-auto">
                                <button>Opslaan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
