@model TrentonTestApp.Models.HourModel

@{
    ViewBag.Title = "Urenregistratie";


}


<h2>Urenregistratie</h2>
<div class="container-fluid mt-3">
    <main class="mb-4">
        <div class="row no-gutters">
            <div class="col-1 mr-1">
                <div id="mySidenav" class="sidenav">
                    <a href="#">Urenregistratie</a>
                    <a href="#">Urenoverzicht</a>
                    <a href="#">Urenvalidatie</a>
                </div>
            </div>
        </div>
        <!-- ## Datepicker ##-->
        <div class="container">
            <div class="col-10">
                <p class="mb-1">Datum:</p>
                <input type="text" class="mb-2" id="datepicker" style="width: 250px">
                <input type="text" form="form-hours" id="date" name="date" hidden>
                <p id="week-number">Week</p>
                <button class="btn btn-success" id="prev-day">Vorige dag</button>
                <button class="btn btn-success" id="today">Naar vandaag</button>
                <button class="btn btn-success" id="next-day">Volgende dag</button>
            </div>
        </div>
        <!-- ## Urenregistratie ##-->
        <!-- table headers-->
        <div class="container">
            <div class="row tabelnaam">
                <div class="col-md tablenav">
                    Project
                </div>
                <div class="col-md tablenav">
                    Maandag
                </div>
                <div class="col-md tablenav">
                    Dinsdag
                </div>
                <div class="col-md tablenav">
                    Woensdag
                </div>
                <div class="col-md tablenav">
                    Donderdag
                </div>
                <div class="col-md tablenav">
                    Vrijdag
                </div>
                <div class="col-md tablenav">
                    Zaterdag
                </div>
                <div class="col-md tablenav">
                    Zondag
                </div>
                <div class="col-md tablenav">
                    Opslaan
                </div>
            </div>
            <form class="form-group" method="post">
                <!-- PROJECT 1 inputvelden-->
                <div class="row inputvelden">
                    <div class="col-md project-name">
                        <label>Project 1</label>
                    </div>
                    <div class="col-md maandag-input">
                       <input class="#" type="number" name="yo" value="@Request.Form["yo"]"></input>
                        @Html.EditorFor(model => model.yo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md dinsdag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md woensdag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md donderdag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md vrijdag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md zaterdag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md zondag-input">
                        <input class="#" type="number"></input>
                    </div>
                    <div class="col-md" style="background-color: rgb(236, 236, 236)">
                        <p hidden>empty</p>
                    </div>
                    <div class="col-md" style="background-color: rgb(236, 236, 236)">
                        <input type="submit" />
                    </div>
            </form>
    </main>
</div>