@model TrentonTestApp.status

@{
    ViewBag.Title = "Delete";
}

<hr />
<h2>Weet u zeker dat u deze status wilt verwijderen?</h2>
<hr />
<div class="jumbotron">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status1)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

@Html.ActionLink("Back to List", "Index")